<template>
    <section class="content">
        <div class="container-fluid">
            <p>Welcome there</p>
        </div><!--/. container-fluid -->
    </section>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
