<template>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-12">

                    <div class="card" v-if="$gate.isAdmin()">
                        <div class="card-header">
                            <h3 class="card-title">Users Marks</h3>

                            <div class="card-tools">

                                <button type="button" class="btn btn-sm btn-primary" @click="newModal">
                                    <i class="fa fa-plus-square"></i>
                                    Add New
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Mark</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="mark in marks.data" :key="mark.id">

                                    <td>{{mark.id}}</td>
                                    <td>{{mark.name}}</td>
                                    <td>{{mark.mark}}</td>
                                    <td>
                                        <a href="#" @click="deleteRecord(user.id)">
                                            <i class="fa fa-trash red"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <pagination :data="users.class_users" @pagination-change-page="getResults"></pagination>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>


            <div v-if="!$gate.isAdmin()">
                <not-found></not-found>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNew" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Student/Teacher</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <!-- <form @submit.prevent="createRecord"> -->

                        <form @submit.prevent="editmode ? updateRecord() : createRecord()">
                            <div class="modal-body">
                                <input type="hidden" name="id" v-model="form.id">
                                <div class="form-group">
                                    <label>Select users to add</label>
                                    <select multiple name="newUsers" class="form-control" v-model="form.newUsers" :class="{ 'is-invalid': form.errors.has('newUsers') }">
                                        <option v-for="otherUser in users.other_users" :key="otherUser.id" v-bind:value="otherUser.id">
                                            {{ otherUser.name }}    -   {{ otherUser.type}}
                                        </option>
                                    </select>
                                    <has-error :form="form" field="newUsers"></has-error>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                                <button v-show="!editmode" type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data () {
            return {
                editmode: false,
                users : {
                    class_users :   {},
                    all_users   :   {}
                },
                class_id: this.$route.params.id,
                form: new Form({
                    id : this.class_id,
                    newUsers: [{}],
                }),

            }
        },
        methods: {
            getResults(page = 1) {
                this.$Progress.start();
                axios.get('/api/class_users/'  +   this.class_id  +    '?page=' + page).then(({ data }) => (this.users = data.data));

                this.$Progress.finish();
            },
            updateRecord(){
                this.$Progress.start();
                // console.log('Editing data');
                this.form.put('/api/class_users'+this.form.id)
                    .then((response) => {
                        // success
                        $('#addNew').modal('hide');
                        Toast.fire({
                            icon: 'success',
                            title: response.data.message
                        });
                        this.$Progress.finish();
                        //  Fire.$emit('AfterCreate');

                        this.loadRecords();
                    })
                    .catch(() => {
                        this.$Progress.fail();
                    });

            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteRecord(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {

                    // Send request to the server
                    if (result.value) {
                        this.form.delete('api/class_users/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your record has been deleted.',
                                'success'
                            );
                            // Fire.$emit('AfterCreate');
                            this.loadRecords();
                        }).catch((data)=> {
                            Swal.fire("Failed!", data.message, "warning");
                        });
                    }
                })
            },
            loadRecords(){
                this.$Progress.start();

                if(this.$gate.isAdmin()){
                    axios.get("/api/class_users/"  +   this.class_id).then(({ data }) => (this.users = data.data));
                }

                this.$Progress.finish();
            },

            createRecord(){

                this.form.post('/api/class_users?class='  +   this.class_id)
                    .then((response)=>{
                        $('#addNew').modal('hide');

                        Toast.fire({
                            icon: 'success',
                            title: response.data.message
                        });

                        this.$Progress.finish();
                        this.loadRecords();

                    })
                    .catch(()=>{

                        Toast.fire({
                            icon: 'error',
                            title: 'Some error occured! Please try again'
                        });
                    })
            }

        },
        mounted() {
            console.log('User Component mounted.')
        },
        created() {

            this.$Progress.start();
            this.loadRecords();
            this.$Progress.finish();
        }
    }
</script>
